.wrapper {
  height: 60px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: black;
  width: 100%;
  z-index: 100;
}

.title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: white;
  text-decoration: none;
  left: 50px;
  position: absolute;
}

.title:hover {
  color: #1DB954;
}

.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 20px;
  visibility: visible;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 16.5%;
  visibility: hidden;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

.link:hover {
  color: #1DB954;
}

.logo {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
}

@media (min-width: 1000px) {
  .title {
    margin-left: 16%;
    font-size: 26px;
  }

  .menuButton {
    margin-right: 16.5%;
    visibility: hidden;
  }

  .links {
    visibility: visible;
  }

  .logo {
    margin-left: 16%;
  }
}

.menuIcon {
  height: 27px;
  width: 27px;
  position: absolute;
  right: 10px;
}
